
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:10% 70% 20%;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:10% 70% 20%;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.item1 {     
  grid-column-start: 1;
  grid-column-end: 3;

}
.item1form {     
  grid-column-start: 1;
  grid-column-end: 4;

}

.item4{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(0, 32, 96);
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0 3%;
    overflow: hidden;
    background-color: rgb(0, 32, 96);
    z-index: -1;
  }
  
.navitem {
    float: right;
}

.navitemhome {
  float: left;
}
li a {
    display: block;
    color: rgb(237, 189, 216);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    
}

.navitem:hover {
    background-color: rgb(237, 189, 216);
}
.navitem a:hover {
    color: rgb(0, 32, 96);
}

.remove {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.largelogo{
  position: relative;
  top: 16vh;
  float: left;
  font-size: 2.2vw;
  color: rgb(0, 32, 96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.smalllogo{
  position: relative;
  float: left;
  top: 80%;
  left: 10%;
  font-size: 65%;
  font-style: italic;
  color: rgb(0, 32, 96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1, td{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 32, 96);
}

.circle {
  position: relative;
  display: block;
  width: 26vw;
  padding-top: 26vw;
  border-radius:50%;
  border: .5vw solid rgb(237, 189, 216);
  background:linear-gradient(to bottom, rgb(0, 32, 96) , rgb(32, 72, 146));
  z-index: -1;
  top: 10Svh;
  left: 25vw;

}

.pinkcircle{
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
  border-radius:50%;
  background:rgb(237, 189, 216);
  z-index: -1;
  float: right;
  top: 10%;
  
}


.homeface{
  position: relative;
  float: right;
  width: 22vw;
  padding-top: 22vw;
  padding: 2vw;;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
}

.smallface{
    position: absolute;
    height: 30px;
    width: 30px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .leftside:hover .homeface {
    opacity: 0.3;
  }
  
  .leftside:hover .middle {
    opacity: 1;
  }
  
  .clicktext {
    background-color:rgb(0, 32, 96);
    color: rgb(237, 189, 216);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px 16px;
  }

  .textbox { width: 390px; padding: 5px; }
  .textboxbig { width: 390px; height: 200px; padding: 5px;}

.dropbtn {
  background-color:rgb(0, 32, 96);
  color:rgb(237, 189, 216);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(0, 32, 96);
  color:rgb(237, 189, 216);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content option {
  color:rgb(237, 189, 216);;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {
  background-color:rgb(237, 189, 216);
  color:rgb(0, 32, 96)
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(237, 189, 216);
  color:rgb(0, 32, 96);
}

.resumetab {
  color: rgb(0, 32, 96);
  background-color: rgb(237, 189, 216);
  border: 1px solid rgb(0, 32, 96);
  padding: 10px;
}

.resume{
  color: rgb(0, 32, 96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.face{
  height: 60px;
  width: 60px;
}